.container {
    background-color:pink;
    display:grid;
     grid-template-columns: repeat(16,1fr);
     width: 500px;
     margin: 10em auto;
}
.container > * {
    min-height: 1.5em;
}

.hover {
    background-color: black;
}